body {
   background-image: url(../img/bg.jpg);
   background-repeat: repeat-x;
   background-color: #0c739f;
 }

.container {
  width: 1000px;
  height: auto;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  padding-top: 10px;
  box-shadow: 0 0 13px rgba(0,0,0,0.75);
  position: relative;
}

.navigation {
display: block;
float: right;
padding-right: 30px;
}

.contacts {
  text-align: left;
  font-size: 12pt;
  line-height: 17px;
  width: 160px;
  color: #128aa7;
  float: right;
}

.contacts p {
  line-height: 30px;
  font-weight: bold;
}

.countries,
.countries:before,
.countries:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

.countries > ol > li {
    display: inline-block;
    padding-top: 22px;
    width: 55px;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
}

.countries > ol > li > a {
  color: #128aa7;

}
.line {
  position: relative;
  z-index: 10;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    background: linear-gradient(#373737, #303030);
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.75);
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu > li {
    float: left;
    position: relative;

}

ul.menu > li > a {
    display: block;
    width: 122px;
    text-align: center;
    padding: 10px;
    color: white;
    text-decoration: none;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 142px;
    top: 36px;
    left: 0;
    background-color: white;
    box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.75);
    z-index: 1;
    text-align: left;
  }

ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    font-size: 14px;
    text-decoration: none;
}

ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

article:before,
article:after {
  content: " ";
  display: block;
  clear: both;
  float: none;
}
article {
  width: 1000px;
  overflow: hidden;
}

.leftColumn {
    width: 195px;
    float: left;
    padding-left: 15px;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
    background: #edeef0;
    line-height: 22px;
    color: #424c43;
}

.centerColumn {
    width: 578px;
    float: left;
    padding-bottom: 20000px;
    margin-bottom: -20016px;
    border-right: #c7cacf 1px solid;
    border-left: #c7cacf 1px solid;
    text-align: center;

}

.rightColumn {
    width: 195px;
    float: right;
    padding-left: 15px;
    padding-bottom: 20000px;
    margin-bottom: -19990px;
    background: #edeef0;
    line-height: 22px;
    color: #424c43;
}

h1 {
  font-size: 18pt;
  font-weight: bold;
  color: #424c43;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

footer {
  position: fixed;
  bottom: 1%;
  text-align: center;
  font-size: 12px;
  color: #ffffffc9;
  width: 1000px;
}
